a {
  color: $primary-color;
}

.section {
  &-title {
    text-align: center;
    margin-bottom: 50px;
    @include mobile {
      margin-bottom: 0;
    }

    h2 {
      font-size: 45px;
      @include tablet {
        font-size: 35px;
        line-height: 44px;
      }
      @include mobile {
        font-size: 30px;
      }
    }
  }
}

.ml-25 {
  margin-left: 25px;

  @include desktop {
    margin-left: 0px;
  }
}

.mr-25 {
  margin-right: 25px;

  @include desktop {
    margin-right: 0px;
  }
}
