//site color variables
$body-color: #FFF;
$bg-color:#DFF1F4;
$primary-color: #2C5EA7;
$secondary-color: #565E71;
$text-color: #8C8C94;
$text-color-dark: #273437;
$site-ease: cubic-bezier(0.77, 0, 0.175, 1);
$border-color: #EDEDF4;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Poppins',sans-serif;