@import "variables";

@import "mixins";

@import "plugins/slick";

@import "plugins/slick-theme";

@import "plugins/aos";

@import "common";

@import "components/feature";

@import "components/screenshots";

@import "components/faq";

@import "components/footer";
