{{ define "main" }}

<section class="page-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1>{{ .Title }}</h1>
        <p>
          {{ .Params.description }}
        </p>
      </div>
    </div>
  </div>
</section>

<section class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="page-content-wrapper">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}