//
//  FeedFlow-release.xcconfig
//  FeedFlow
//
//  Created by Marco Gomiero on 24/11/24.
//  Copyright © 2024 FeedFlow. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
DEVELOPMENT_TEAM = Q7CUB3RNAK
BUNDLE_ID_PREFIX = com.prof18
