[versions]
about-libraries = "10.8.3"
android-compile-sdk = "34"
android-min-sdk = "26"
android-target-sdk = "33"
android-gradle-plugin = "8.1.2"
activity-compose = "1.7.2"
androidx-test = "1.5.2"
androidx-core-ktx = "1.5.0"
androidx-test-ext = "1.1.5"
androidx-test-runner = "1.5.1"
com-google-accompanist = "0.28.0"
coroutines = "1.7.3"
detekt = "1.23.4"
io-coil = "2.2.2"
java = "11"
junit = "4.13.2"
kermit = "2.0.0-RC5"
koin = "3.5.0"
koin-android = "3.5.0"
koin-compose = "3.5.0"
kotlin = "1.9.21"
nav-compose = "2.7.5"
slf4jNop = "2.0.6"
turbine = "1.0.0"
versions-ben-manes = "0.44.0"
viewModel-ktx = "2.6.2"
viewModel-compose = "2.6.2"
lifecycle-runtime-compose = "2.6.2"
org-robolectric = "4.9"
sql-delight = "2.0.0"
rss-parser = "6.0.4"
accompanist = "0.28.0"
jsoup = "1.15.3"
triplet-play = "3.8.6"
compose-multiplatform = "1.5.11"
compose-compiler = "1.5.4"
decompose = "1.0.0"
jsystem-theme-detector = "3.6"
native-coroutines = "1.0.0-ALPHA-22"
ksp = "1.9.21-1.0.15"
compose-image-loader = "1.6.7"
multiplatform-settings = "1.0.0"
moko-resources = "0.23.0"
crashlytics = "18.4.0"
crashlytics-plugin = "2.9.7"
google-services = "4.3.15"
crashk-ios = "0.8.2"
sentry = "6.25.2"
material-window-size = "1.1.2"

[libraries]
about-libraries-compose = { module = "com.mikepenz:aboutlibraries-compose", version.ref="about-libraries" }
about-libraries-core = { module = "com.mikepenz:aboutlibraries-core", version.ref="about-libraries" }
androidx-activity-compose = { module = "androidx.activity:activity-compose", version.ref = "activity-compose" }
androidx-lifecycle-viewModel-ktx = { module = "androidx.lifecycle:lifecycle-viewmodel-ktx", version.ref = "viewModel-ktx" }
androidx-lifecycle-viewModel-compose = { module = "androidx.lifecycle:lifecycle-viewmodel-compose", version.ref = "viewModel-compose" }
androidx-lifecycle-runtime-compose = { module = "androidx.lifecycle:lifecycle-runtime-compose", version.ref = "lifecycle-runtime-compose" }
androidx-navigation-navigation-compose = { module = "androidx.navigation:navigation-compose", version.ref = "nav-compose" }
androidx-test-core = { module = "androidx.test:core-ktx", version.ref = "androidx-test" }
androidx-test-core-ktx = { module = "androidx.test:core-ktx", version.ref = "androidx-core-ktx" }
androidx-test-ext-junit = { module = "androidx.test.ext:junit", version.ref = "androidx-test-ext" }
androidx-test-rules = { module = "androidx.test:rules", version.ref = "androidx-test" }
androidx-test-runner = { module = "androidx.test:runner", version.ref = "androidx-test" }
cashapp-turbine = { module = "app.cash.turbine:turbine", version.ref = "turbine" }
com-google-accompanist-system-ui = { module = "com.google.accompanist:accompanist-systemuicontroller", version.ref = "com-google-accompanist" }
io-coil-compose = { module = "io.coil-kt:coil-compose", version.ref = "io-coil" }
io-gitlab-arturbosch-detekt-formatting = { module = "io.gitlab.arturbosch.detekt:detekt-formatting", version.ref = "detekt" }
junit = { module = "junit:junit", version.ref = "junit" }
koin-android = { module = "io.insert-koin:koin-android", version.ref = "koin-android" }
koin-compose = { module = "io.insert-koin:koin-androidx-compose", version.ref = "koin-compose" }
koin-core = { module = "io.insert-koin:koin-core", version.ref = "koin" }
koin-test = { module = "io.insert-koin:koin-test", version.ref = "koin" }
kotlin-test = { module = "org.jetbrains.kotlin:kotlin-test", version.ref = "kotlin" }
kotlin-test-junit = { module = "org.jetbrains.kotlin:kotlin-test-junit", version.ref = "kotlin" }
kotlinx-coroutines-core = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core", version.ref = "coroutines" }
kotlinx-coroutines-android = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-android", version.ref = "coroutines" }
kotlinx-coroutines-swing = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-swing", version.ref = "coroutines" }
kotlinx-coroutines-test = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-test", version.ref = "coroutines" }
slf4j-nop = { module = "org.slf4j:slf4j-nop", version.ref = "slf4jNop" }
touchlab-kermit = { module = "co.touchlab:kermit", version.ref = "kermit" }
touchlab-kermit-simple = { module = "co.touchlab:kermit-simple", version.ref = "kermit" }
touchlab-kermit-crashlytics = { module = "co.touchlab:kermit-crashlytics", version.ref = "kermit" }
touchlab-kermit-test = { module = "co.touchlab:kermit-test", version.ref = "kermit" }
org-robolectric = { module = "org.robolectric:robolectric", version.ref = "org-robolectric" }
sqldelight-android-driver = { module = "app.cash.sqldelight:android-driver", version.ref = "sql-delight" }
sqldelight-coroutine-extensions = { module = "app.cash.sqldelight:coroutines-extensions", version.ref = "sql-delight" }
sqldelight-native-driver = { module = "app.cash.sqldelight:native-driver", version.ref = "sql-delight" }
sqldelight-runtime = { module = "app.cash.sqldelight:runtime", version.ref = "sql-delight" }
sqldelight-sqlite-driver = { module = "app.cash.sqldelight:sqlite-driver", version.ref = "sql-delight" }
sqldelight-primitive-adapter = { module = "app.cash.sqldelight:primitive-adapters", version.ref = "sql-delight" }
com-prof18-rss-parser = { module = "com.prof18.rssparser:rssparser", version.ref = "rss-parser" }
accompanist-systemuicontroller = { group = "com.google.accompanist", name = "accompanist-systemuicontroller", version.ref = "accompanist" }
jsoup = { module = "org.jsoup:jsoup", version.ref = "jsoup"  }
decompose = { module = "com.arkivanov.decompose:decompose", version.ref = "decompose" }
decompose-compose-jetbrains = { module = "com.arkivanov.decompose:extensions-compose-jetbrains", version.ref = "decompose" }
jsystem-theme-detector = { module = "com.github.Dansoftowner:jSystemThemeDetector", version.ref = "jsystem-theme-detector" }
compose-image-loader = { module = "io.github.qdsfdhvh:image-loader", version.ref = "compose-image-loader" }
multiplatform-settings = { module = "com.russhwolf:multiplatform-settings", version.ref = "multiplatform-settings" }
moko-resources = { module = "dev.icerock.moko:resources", version.ref = "moko-resources" }
moko-resourcesCompose = { module = "dev.icerock.moko:resources-compose", version.ref = "moko-resources" }
firebase-crashlytics-ktx = { module = "com.google.firebase:firebase-crashlytics-ktx", version.ref = "crashlytics" }
crashk-ios = { module = "co.touchlab.crashkios:crashlytics", version.ref = "crashk-ios" }
sentry = { module = "io.sentry:sentry", version.ref = "sentry" }
material-window-size = { module = "androidx.compose.material3:material3-window-size-class", version.ref = "material-window-size" }

[bundles]
androidx-test = ["androidx-test-core", "androidx-test-ext-junit", "androidx-test-rules", "androidx-test-runner"]
compose = [
    "androidx-activity-compose", "io-coil-compose", "androidx-lifecycle-viewModel-compose",
    "accompanist-systemuicontroller", "androidx-lifecycle-runtime-compose",
    "androidx-navigation-navigation-compose",
]
koin = ["koin-android", "koin-compose", "koin-core"]
about-libraries = [ "about-libraries-core", "about-libraries-compose" ]

[plugins]
android-application = { id = "com.android.application", version.ref = "android-gradle-plugin" }
android-library = { id = "com.android.library", version.ref = "android-gradle-plugin" }
detekt = { id = "io.gitlab.arturbosch.detekt", version.ref = "detekt" }
kotlin-android = { id = "org.jetbrains.kotlin.android", version.ref = "kotlin" }
kotlin-serialization = { id = "org.jetbrains.kotlin.plugin.serialization", version.ref = "kotlin" }
kotlin-multiplatform = { id = "org.jetbrains.kotlin.multiplatform", version.ref = "kotlin" }
versionsBenManes = { id = "com.github.ben-manes.versions", version.ref = "versions-ben-manes" }
native-coroutines = { id = "com.rickclephas.kmp.nativecoroutines", version.ref = "native-coroutines" }
sqldelight = { id = "app.cash.sqldelight", version.ref = "sql-delight" }
triplet-play = { id = "com.github.triplet.play", version.ref = "triplet-play" }
compose-multiplatform = { id = "org.jetbrains.compose", version.ref = "compose-multiplatform" }
ksp = { id = "com.google.devtools.ksp", version.ref = "ksp" }
moko-resources = { id = "dev.icerock.mobile.multiplatform-resources", version.ref = "moko-resources" }
about-libraries = { id = "com.mikepenz.aboutlibraries.plugin", version.ref = "about-libraries" }
crashlytics = { id = "com.google.firebase.crashlytics", version.ref = "crashlytics-plugin" }
google-services = { id = "com.google.gms.google-services", version.ref = "google-services" }
org-jetbrains-kotlin-jvm = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
