[versions]
about-libraries = "10.10.0"
android-compile-sdk = "34"
android-min-sdk = "26"
android-target-sdk = "33"
android-gradle-plugin = "8.2.2"
activity-compose = "1.8.2"
androidx-core-ktx = "1.5.0"
coroutines = "1.7.3"
detekt = "1.23.5"
io-coil = "2.5.0"
junit = "4.13.2"
kermit = "2.0.3"
koin-bom = "3.5.3"
kotlin = "1.9.21"
nav-compose = "2.7.7"
slf4jNop = "2.0.12"
turbine = "1.0.0"
viewModel-ktx = "2.7.0"
viewModel-compose = "2.7.0"
lifecycle-runtime-compose = "2.7.0"
org-robolectric = "4.11.1"
sql-delight = "2.0.1"
rss-parser = "6.0.6"
accompanist = "0.34.0"
jsoup = "1.17.2"
triplet-play = "3.8.6"
compose-multiplatform = "1.5.11"
compose-compiler = "1.5.7"
decompose = "2.2.2"
jsystem-theme-detector = "3.6"
native-coroutines = "1.0.0-ALPHA-22"
ksp = "1.9.21-1.0.15"
compose-image-loader = "1.7.4"
multiplatform-settings = "1.1.1"
moko-resources = "0.23.0"
crashlytics = "18.6.2"
crashlytics-plugin = "2.9.9"
google-services = "4.4.0"
crashk-ios = "0.8.6"
sentry = "7.3.0"
material-window-size = "1.2.0"
immutable-collections = "0.3.7"
detekt-compose-rules = "0.3.11"

[libraries]
about-libraries-compose = { module = "com.mikepenz:aboutlibraries-compose", version.ref="about-libraries" }
about-libraries-core = { module = "com.mikepenz:aboutlibraries-core", version.ref="about-libraries" }
androidx-activity-compose = { module = "androidx.activity:activity-compose", version.ref = "activity-compose" }
androidx-compose-compiler = { module = "androidx.compose.compiler:compiler", version.ref = "compose-compiler" }
androidx-lifecycle-viewModel-ktx = { module = "androidx.lifecycle:lifecycle-viewmodel-ktx", version.ref = "viewModel-ktx" }
androidx-lifecycle-viewModel-compose = { module = "androidx.lifecycle:lifecycle-viewmodel-compose", version.ref = "viewModel-compose" }
androidx-lifecycle-runtime-compose = { module = "androidx.lifecycle:lifecycle-runtime-compose", version.ref = "lifecycle-runtime-compose" }
androidx-navigation-navigation-compose = { module = "androidx.navigation:navigation-compose", version.ref = "nav-compose" }
androidx-test-core-ktx = { module = "androidx.test:core-ktx", version.ref = "androidx-core-ktx" }
cashapp-turbine = { module = "app.cash.turbine:turbine", version.ref = "turbine" }
io-coil-compose = { module = "io.coil-kt:coil-compose", version.ref = "io-coil" }
io-gitlab-arturbosch-detekt-formatting = { module = "io.gitlab.arturbosch.detekt:detekt-formatting", version.ref = "detekt" }
junit = { module = "junit:junit", version.ref = "junit" }
koin-android = { module = "io.insert-koin:koin-android" }
koin-compose = { module = "io.insert-koin:koin-androidx-compose" }
koin-core = { module = "io.insert-koin:koin-core"}
koin-test = { module = "io.insert-koin:koin-test"}
kotlin-test = { module = "org.jetbrains.kotlin:kotlin-test", version.ref = "kotlin" }
kotlin-test-junit = { module = "org.jetbrains.kotlin:kotlin-test-junit", version.ref = "kotlin" }
kotlinx-coroutines-core = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core", version.ref = "coroutines" }
kotlinx-coroutines-android = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-android", version.ref = "coroutines" }
kotlinx-coroutines-swing = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-swing", version.ref = "coroutines" }
kotlinx-coroutines-test = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-test", version.ref = "coroutines" }
slf4j-nop = { module = "org.slf4j:slf4j-nop", version.ref = "slf4jNop" }
touchlab-kermit = { module = "co.touchlab:kermit", version.ref = "kermit" }
touchlab-kermit-simple = { module = "co.touchlab:kermit-simple", version.ref = "kermit" }
touchlab-kermit-crashlytics = { module = "co.touchlab:kermit-crashlytics", version.ref = "kermit" }
touchlab-kermit-test = { module = "co.touchlab:kermit-test", version.ref = "kermit" }
org-robolectric = { module = "org.robolectric:robolectric", version.ref = "org-robolectric" }
sqldelight-android-driver = { module = "app.cash.sqldelight:android-driver", version.ref = "sql-delight" }
sqldelight-coroutine-extensions = { module = "app.cash.sqldelight:coroutines-extensions", version.ref = "sql-delight" }
sqldelight-native-driver = { module = "app.cash.sqldelight:native-driver", version.ref = "sql-delight" }
sqldelight-runtime = { module = "app.cash.sqldelight:runtime", version.ref = "sql-delight" }
sqldelight-sqlite-driver = { module = "app.cash.sqldelight:sqlite-driver", version.ref = "sql-delight" }
sqldelight-primitive-adapter = { module = "app.cash.sqldelight:primitive-adapters", version.ref = "sql-delight" }
com-prof18-rss-parser = { module = "com.prof18.rssparser:rssparser", version.ref = "rss-parser" }
accompanist-systemuicontroller = { group = "com.google.accompanist", name = "accompanist-systemuicontroller", version.ref = "accompanist" }
jsoup = { module = "org.jsoup:jsoup", version.ref = "jsoup"  }
decompose = { module = "com.arkivanov.decompose:decompose", version.ref = "decompose" }
decompose-compose-jetbrains = { module = "com.arkivanov.decompose:extensions-compose-jetbrains", version.ref = "decompose" }
jsystem-theme-detector = { module = "com.github.Dansoftowner:jSystemThemeDetector", version.ref = "jsystem-theme-detector" }
compose-image-loader = { module = "io.github.qdsfdhvh:image-loader", version.ref = "compose-image-loader" }
multiplatform-settings = { module = "com.russhwolf:multiplatform-settings", version.ref = "multiplatform-settings" }
moko-resources = { module = "dev.icerock.moko:resources", version.ref = "moko-resources" }
moko-resourcesCompose = { module = "dev.icerock.moko:resources-compose", version.ref = "moko-resources" }
firebase-crashlytics-ktx = { module = "com.google.firebase:firebase-crashlytics-ktx", version.ref = "crashlytics" }
crashk-ios = { module = "co.touchlab.crashkios:crashlytics", version.ref = "crashk-ios" }
sentry = { module = "io.sentry:sentry", version.ref = "sentry" }
material-window-size = { module = "androidx.compose.material3:material3-window-size-class", version.ref = "material-window-size" }
immutable-collections = { module = "org.jetbrains.kotlinx:kotlinx-collections-immutable", version.ref = "immutable-collections" }
koin-bom = { module = "io.insert-koin:koin-bom", version.ref = "koin-bom" }
detekt-compose-rules = { module = "io.nlopez.compose.rules:detekt", version.ref = "detekt-compose-rules" }

[bundles]
compose = [
    "androidx-activity-compose", "io-coil-compose", "androidx-lifecycle-viewModel-compose",
    "accompanist-systemuicontroller", "androidx-lifecycle-runtime-compose",
    "androidx-navigation-navigation-compose",
]
about-libraries = [ "about-libraries-core", "about-libraries-compose" ]

[plugins]
android-application = { id = "com.android.application", version.ref = "android-gradle-plugin" }
android-library = { id = "com.android.library", version.ref = "android-gradle-plugin" }
detekt = { id = "io.gitlab.arturbosch.detekt", version.ref = "detekt" }
kotlin-android = { id = "org.jetbrains.kotlin.android", version.ref = "kotlin" }
kotlin-serialization = { id = "org.jetbrains.kotlin.plugin.serialization", version.ref = "kotlin" }
kotlin-multiplatform = { id = "org.jetbrains.kotlin.multiplatform", version.ref = "kotlin" }
native-coroutines = { id = "com.rickclephas.kmp.nativecoroutines", version.ref = "native-coroutines" }
sqldelight = { id = "app.cash.sqldelight", version.ref = "sql-delight" }
triplet-play = { id = "com.github.triplet.play", version.ref = "triplet-play" }
compose-multiplatform = { id = "org.jetbrains.compose", version.ref = "compose-multiplatform" }
ksp = { id = "com.google.devtools.ksp", version.ref = "ksp" }
moko-resources = { id = "dev.icerock.mobile.multiplatform-resources", version.ref = "moko-resources" }
about-libraries = { id = "com.mikepenz.aboutlibraries.plugin", version.ref = "about-libraries" }
crashlytics = { id = "com.google.firebase.crashlytics", version.ref = "crashlytics-plugin" }
google-services = { id = "com.google.gms.google-services", version.ref = "google-services" }
org-jetbrains-kotlin-jvm = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
