[Desktop Entry]
Type=Application
Name=FeedFlow
GenericName=RSS Reader
Comment=A minimalistic RSS Reader
Icon=com.prof18.feedflow
Exec=feedflow
Terminal=false
StartupNotify=true
Categories=News;
Keywords=RSS;Feed;News;Reader;
StartupWMClass=FeedFlow