{{ with .Site.Data.feature }}
  {{ if .enable }}
    <section class="feature" id="feature">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="feature-image">
              <img
                style="width:50%; padding-top: 30px; padding-bottom: 80px;"
                src={{ .image1 }}
                alt="feature-image"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="feature-content ml-25">
              <h2>
                {{ .title }}
              </h2>
              <p>
                {{ .description }}
              </p>
              <p>
                {{ .description2 }}
              </p>
              <p>
                {{ .description3 | safeHTML }}
              </p>
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="feature-content mr-25">
              <h2>
                {{ .Title2nd }}
              </h2>
              <p>
                {{ .description2nd }}
              </p>
              <div class="feature-content-list">
                <ul>
                  {{ $Section := .checkItem }}
                  {{ range $Section }}
                    <li>
                      <i class="ti-check"></i>
                      <p> {{ .text }} </p>
                    </li>
                  {{ end }}
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <div class="feature-image">
              <img
                style="padding-top: 60px; padding-bottom: 120px;"
                src={{ .image2 }}
                alt="feature-image"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}