name: Code Checks
on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - '*'

jobs:
  checks:
    runs-on: macos-15
    timeout-minutes: 90
    steps:
      - uses: actions/checkout@v6

      - name: Setup environment
        uses: ./.github/actions/setup-gradle
        with:
          gradle-cache-encryption-key: ${{ secrets.GRADLE_CACHE_ENCRYPTION_KEY }}

      - name: Refresh translations
        run: bash .scripts/refresh-translations.sh

      - name: Install Swift Lint
        run: |
          brew install swiftlint

      - name: Run Swift Lint
        run: |
          cd iosApp
          /opt/homebrew/bin/swiftlint
          cd ..

      - name: Create dummy Firebase json
        run: |
          cp config/dummy-google-services.json androidApp/src/debug/google-services.json
          cp config/dummy-google-services.json androidApp/src/release/google-services.json

      - name: Run Checks
        run: ./gradlew detekt allTests

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: build-reports
          path: |
            **/build/reports/*    

  build-android-app:
    name: Build Android App
    runs-on: ubuntu-latest
    needs: [ checks ]
    timeout-minutes: 90
    steps:
      - uses: actions/checkout@v6

      - name: Setup environment
        uses: ./.github/actions/setup-gradle
        with:
          gradle-cache-encryption-key: ${{ secrets.GRADLE_CACHE_ENCRYPTION_KEY }}

      - name: Refresh translations
        run: bash .scripts/refresh-translations.sh

      - name: Create dummy Firebase json
        run: |
          cp config/dummy-google-services.json androidApp/src/debug/google-services.json
          cp config/dummy-google-services.json androidApp/src/release/google-services.json 

      - name: Build Android Sample
        run: ./gradlew :androidApp:assembleGooglePlayDebug

  build-desktop-app:
    name: Build Desktop App
    runs-on: ubuntu-latest
    needs: [ checks ]
    timeout-minutes: 90
    steps:
      - uses: actions/checkout@v6

      - name: Setup environment
        uses: ./.github/actions/setup-gradle
        with:
          gradle-cache-encryption-key: ${{ secrets.GRADLE_CACHE_ENCRYPTION_KEY }}

      - name: Refresh translations
        run: bash .scripts/refresh-translations.sh

      - name: Build Desktop App
        run: ./gradlew :desktopApp:packageDistributionForCurrentOS

  build-ios-app:
    name: Build iOS App
    runs-on: macos-15
    needs: [ checks ]
    timeout-minutes: 90
    steps:
      - uses: actions/checkout@v6

      - name: Xcode version
        run: |
          /usr/bin/xcodebuild -version   

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Xcode version
        run: |
          /usr/bin/xcodebuild -version 

      - name: Setup environment
        uses: ./.github/actions/setup-gradle
        with:
          gradle-cache-encryption-key: ${{ secrets.GRADLE_CACHE_ENCRYPTION_KEY }}

      - name: Refresh translations
        run: bash .scripts/refresh-translations.sh

      - name: Create Dummy Firebase Plist
        run: |
          cp config/dummy-google-service.plist iosApp/dummy-google-service.plist
          mv iosApp/dummy-google-service.plist iosApp/GoogleService-Info-dev.plist
          cp config/dummy-google-service.plist iosApp/dummy-google-service.plist
          mv iosApp/dummy-google-service.plist iosApp/GoogleService-Info.plist

      - name: Create Config xcconfig
        run: |
          cp config/dummy-config.xcconfig iosApp/Assets/Config.xcconfig

      - name: Build iOS Sample
        run: |
          cd iosApp
          xcodebuild -configuration Debug -scheme FeedFlow -sdk iphoneos -destination name='iPhone 16 Pro' build | xcbeautify --renderer github-actions
